#root {
  /* background: linear-gradient(135deg, #212121, #e8e8e3);background: linear-gradient(-15deg, #212121, #e8d8a5, #78b86a); */
  /* background-color: #1a1a1a; */
  background-color: #212121;
  color: #fff;
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
}